*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#f4f8ff;
}

/* Navigation */

nav{

background:#2f5bd3;
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 70px;

}

.logo{

color:white;
font-size:28px;
font-weight:bold;

}

.menu a{

color:white;
text-decoration:none;
margin-left:35px;
font-size:18px;
font-weight:600;
transition:.3s;

}

.menu a:hover{

color:#dce7ff;

}

/* Hero */

header{

width:90%;
margin:70px auto;

display:flex;
align-items:center;
justify-content:space-between;

}

.hero-text{

width:50%;

}

.hero-text h1{

font-size:58px;
color:#2447a5;
margin-bottom:20px;

}

.hero-text p{

font-size:19px;
line-height:1.8;
color:#555;
margin-bottom:35px;

}

.hero-image{

width:45%;

}

.hero-image img{

width:100%;

}

.btn{

background:#2f5bd3;
color:white;
padding:15px 35px;
border-radius:35px;
text-decoration:none;
font-size:18px;

}

.btn:hover{

background:#1f45b8;

}

/* Services */

.services{

padding:70px 10%;

}

.services h2{

text-align:center;
font-size:38px;
color:#2447a5;
margin-bottom:45px;

}

.service-box{

display:flex;
gap:30px;

}

.card{

background:white;
padding:35px;
border-radius:15px;
flex:1;
box-shadow:0 5px 15px rgba(0,0,0,.08);
text-align:center;
transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.card h3{

color:#2447a5;
margin-bottom:20px;

}

.card p{

color:#666;
line-height:1.7;

}

/* About */

.about{

padding:80px 10%;

display:flex;
justify-content:space-between;
align-items:center;

}

.about-image{

width:45%;

}

.about-image img{

width:100%;

}

.about-text{

width:50%;

}

.about-text h2{

font-size:40px;
color:#2447a5;
margin-bottom:20px;

}

.about-text p{

line-height:1.8;
margin-bottom:20px;
color:#555;

}

.about-text ul{

line-height:2;
list-style:none;

}

/* CTA */

.cta{

background:#2f5bd3;
padding:70px;
text-align:center;
color:white;

}

.cta h2{

font-size:40px;
margin-bottom:15px;

}

.cta p{

margin-bottom:30px;
font-size:18px;

}

/* Footer */

footer{

background:#183a97;
color:white;

}

.footer{

width:90%;
margin:auto;
padding:60px 0;

display:flex;
justify-content:space-between;

}

.footer div{

width:30%;

}

.footer h3{

margin-bottom:20px;

}

.footer p{

line-height:1.8;

}

.footer a{

display:block;
color:white;
text-decoration:none;
margin-bottom:10px;

}

.footer a:hover{

color:#dce7ff;

}

hr{

width:90%;
margin:auto;
border:.5px solid rgba(255,255,255,.2);

}

.copy{

text-align:center;
padding:20px;

}